/AJLibrary/bin/
/AJLibrary/obj/
Helper/
/ScriptManagement/bin/
/ScriptManagement/obj/
/ImageToIco/bin/
/ImageToIco/obj/
/packages/
/RemoteClient/bin/
/RemoteClient/obj/
/RemoteSever/bin/
/RemoteClient/obj/
.vs/
/test/
